<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a [routerLink]="['/']" class="brand-link">
    <span class="brand-text font-weight-light"><b>Portal</b></span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->

        <li class="nav-item">
          <a [routerLink]="['/Customer']" class="nav-link">
            <i class="nav-icon far fa-circle"></i>
            <p>
              Clientes
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a [routerLink]="['']" class="nav-link">
            <i class="nav-icon far fa-circle"></i>
            <p>
              Projetos
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a [routerLink]="['']" class="nav-link">
            <i class="nav-icon far fa-circle"></i>
            <p>
              Kudo Cards
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a [routerLink]="['']" class="nav-link">
            <i class="nav-icon far fa-circle"></i>
            <p>
              Base de Conhecimento
            </p>
          </a>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>